django
psycopg2
django-bootstrap3
django-oauth-toolkit
django-cors-headers
git+https://github.com/bquinn/pats-api-python.git
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
