        <tr>
            <td><a href="{% url 'buyer_metadata_agencies' agency_id=agency.agencyId %}">{{ agency.agencyId }}</a></td>
            <td>{{ agency.name }}</td>
            <td>{{ agency.shortName }}</td>
            <td>{{ agency.type }}</td>
            <td>{{ agency.locale }}</td>
            <td>
                {% if agency.parent %}
                <table class="table">
                {% include 'components/agency_details_header.html' %}
                {% include 'components/agency_details_line_item.html' with agency=agency.parent %}
                </table>
                {% endif %}
            </td>
            <td>
                {% if agency.children %}
                    <table class="table">
                        {% include 'components/agency_details_header.html' %}
                        {% for childagency in agency.children %}
                            {% include 'components/agency_details_line_item.html' with agency=childagency %}
                        {% endfor %}
                    </table>
                {% endif %}
            </td>   
        </tr>
