{% if mode == 'buyer' %}
  ID: <a href="{% url 'buyer_rfps_proposals_attachment_view' rfp_id=rfp_id proposal_id=proposal_id attachment_id=attachment.id %}">{{ attachment.id }}</a><br />
{% else %}
  ID: <a href="{% url 'seller_rfps_proposals_attachment_view' rfp_id=rfp_id proposal_id=proposal_id attachment_id=attachment.id %}">{{ attachment.id }}</a><br />
{% endif %}
  MIME Type: {{ attachment.mimeType }}<br />
  Name: {{ attachment.name }}<br />
{% if mode == 'buyer' %}
  <a href="{% url 'buyer_rfps_proposals_attachment_download' rfp_id=rfp_id proposal_id=proposal_id attachment_id=attachment.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a>
{% else %}
  <a href="{% url 'seller_rfps_proposals_attachment_download' rfp_id=rfp_id proposal_id=proposal_id attachment_id=attachment.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a>
{% endif %}
