<tr>
<th>Line item ID</th>
<th>Buyer/seller external ID</th>
<th>Line number</th>
<th>Package type</th>
<th>Package name</th>
<th>Primary placement</th>
<th>Name</th>
<th>Cost Method</th>
<th>Media Property</th>
<th>Flight start</th>
<th>Flight end</th>
<th>Section</th>
<th>Subsection</th>
<th>Dimensions</th>
<th>Dimensions position</th>
<th>Buy type</th>
<th>Buy category</th>
<th>Target</th>
<th>Unit amount</th>
<th>Unit type</th>
<th>Rate</th>
<th>Cost</th>
<th>Comments</th>
<th>Served by</th>
<th>Creative type</th>
<th>Product ID (proposal only)</th>
</tr>
