<tr>
<th>Line item ID</th>
<th>Buyer/seller external ID</th>
<th>Line number</th>
<th>Package Type</th>
<th>Group name</th>
<th>Name</th>
<th>Publication</th>
<th>Section</th>
<th>Subsection</th>
<th>Size</th>
<th>Buy Category</th>
<th>Print Position</th>
<th>Colour</th>
<th>Buy type</th>
<th>Cost method</th>
<th>Unit amount</th>
<th>Rate</th>
<th>Unit type</th>
<th>Cost</th>
<th>Region</th>
<th>Cover date</th>
<th>Comments</th>
<th>Custom columns</th>
<th>Submedia Type</th>
<th>Product ID (proposal only)</th>
</tr>
