<tr>
<td>{{ line.id }}</td>
<td>{{ line.externalId }}</td>
<td>{{ line.lineNumber }}</td>
<td>{{ line.packageType }}</td>
<td>{{ line.groupName }}</td>
<td>{{ line.name }}</td>
<td>{{ line.mediaProperty }}</td>
<td>{{ line.section }}</td>
<td>{{ line.subsection }}</td>
<td>{{ line.size }}</td>
<td>{{ line.buyType }}</td>
<td>{{ line.buyCategory }}</td>
<td>{{ line.position }}</td>
<td>{{ line.color }}</td>
<td>{{ line.costMethod }}</td>
<td>{{ line.units }}</td>
<td>{{ line.rate }}</td>
<td>{{ line.unitType }}</td>
<td>{{ line.cost }}</td>
<td>{{ line.region }}</td>
<td>{{ line.coverDate }}</td>
<td>{{ line.positionGuaranteed }}</td>
<td>{{ line.includeInDigitalEdition }}</td>
<td>{{ line.comments }}</td>
</tr>
