    <table class="table">
      <tr>
        <th>Order ID</th>
        <td>{{ order.id }}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{ order.majorVersion }}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{ order.status }}</td>
      </tr>
      <tr>
        <th>Event History</th>
        <td>
            <table class="table">
                <tr>
                    <th>Timestamp</th>
                    <th>Event Type</th>
                    <th>Name</th>
                    <th>Comment</th>
                    <th>Attachments</th>
                    <th>Additional info</th>
                </tr>
                {% for event in order.events %}
                    {% include 'components/event_line_item.html' with event=event order_id=order_id mode=seller %}
                {% endfor %}
            </table>
        </td>
      </tr>
      <tr>
        <th>Agency Id</th>
        <td>{{ order.agencyId }}</td>
      </tr>
      <tr>
        <th>Campaign ID</th>
        <td>{{ order.campaignId }}</td>
      </tr>
      <tr>
        <th>Cost</th>
        <td>{{ order.cost }}</td>
      </tr>
      <tr>
        <th>Currency code</th>
        <td>{{ order.currencyCode }}</td>
      </tr>
      <tr>
        <th>Campaign ID</th>
        <td>{{ order.campaignId }}</td>
      </tr>
      <tr>
        <th>Media type</th>
        <td>{{ order.mediaType }}</td>
      </tr>
      <tr>
        <th>Buyer Name</th>
        <td>{{ order.buyerName }}</td>
      </tr>
      <tr>
        <th>Buyer Email</th>
        <td>{{ order.buyerEmail }}</td>
      </tr>
      <tr>
        <th>Buyer Phone</th>
        <td>{{ order.buyerPhone }}</td>
      </tr>
      <tr>
        <th>Advertiser Name</th>
        <td>{{ order.advertiserName }}</td>
      </tr>
      <tr>
        <th>Terms and Conditions</th>
        <td>{{ order.termsAndConditions }}</td>
      </tr>
      <tr>
        <th>Print line items</th>
        <td>
{% if order.printLineItems %}
<table class="table">
{% include 'components/print_line_item_header.html' %}
{% for line in order.printLineItems %}
{% include 'components/print_line_item.html' with line=line %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
      <tr>
        <th>Digital line items</th>
        <td>
{% if order.digitalLineItems %}
<table class="table">
{% include 'components/digital_line_item_header.html' %}
{% for line in order.digitalLineItems %}
{% include 'components/digital_line_item.html' with line=line %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
       </tr>
        <tr>
        <th>Attachments</th>
        <td>{{ object.attachments }}</td>
        </tr>
    </table>
