{% extends "bootstrap3/bootstrap3.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}PATS API Test Helper{% endblock %}

{% block bootstrap3_content %}
    <div class="container-fluid">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% bootstrap_messages %}

        <div class="row">
          <div class="col-md-2" role="navigation">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{% url 'buyer_metadata' %}">Buyer - Metadata</a></li>
              <li><a href="{% url 'buyer_campaigns' %}">Buyer - Campaigns</a></li>
              <li><a href="{% url 'buyer_rfps_list' %}">Buyer - RFPs</a></li>
              <li><a href="{% url 'buyer_orders' %}">Buyer - Orders</a></li>
              <li><a href="{% url 'buyer_product_catalogue' %}">Buyer - Product Catalogue</a></li>
              <li><a href="{% url 'seller_rfps' %}">Seller - RFPs</a></li>
              <li><a href="{% url 'seller_orders_list' %}">Seller - Orders</a></li>
              <li><a href="#">Seller - Product Catalogue</a></li>
            </ul>
          </div>
          <div class="col-md-10">
            {% block content %}(no content){% endblock %}
          </div>
        </div>
    </div>
{% endblock %}
