{% extends "bootstrap3/bootstrap3.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}PATS API Test Helper{% endblock %}

{% block bootstrap3_content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">PATS API Tester</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buyer APIs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'buyer_metadata' %}">Metadata</a></li>
            <li><a href="{% url 'buyer_campaigns' %}">Campaigns</a></li>
            <li><a href="{% url 'buyer_rfps' %}">RFPs</a></li>
            <li><a href="{% url 'buyer_orders' %}">Orders</a></li>
            <li><a href="{% url 'buyer_product_catalogue' %}">Product catalogue</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seller APIs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'seller_rfps' %}">RFPs</a></li>
            <li><a href="{% url 'seller_orders' %}">Orders</a></li>
            <li><a href="{% url 'seller_product_catalogue' %}">Product catalogue</a></li>
          </ul>
        </li>
      </ul>
      <!-- form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'configuration' %}">Configuration{% if config_defaults %}: {{ config_defaults }}{%endif %}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container-fluid">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% bootstrap_messages %}

        <div class="row">
          <div class="col-md-12">
            {% block content %}(no content){% endblock %}
          </div>
        </div>
        {% block raw %}
        <hr />
        <div class="row">
          <div class="col-md-12">
            <h4>Raw request</h4>
            <p><pre>{{ curl_command }}</pre></p>
            <h4>Raw response (response code {{ response_status }})</h4>
            <p><pre>{% if response_json %}{{response_json}}{% else %}{{ response_text }}{% endif %}</pre></p>
          </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
