{% extends "base.html" %}
{% block title %}Buyer - Orders{% endblock %}

{% block content %}
    <h3><a href="{% url 'buyer_orders_create_with_campaign' %}">Send Order with Campaign</a></h3>
    <p>Helper page that lets you create a campaign and immediately send up to two orders on that campaign, all with one form. It also inserts campaign dates, publisher ID/name and campaign ID so you won't have to edit the order payload(s).</p>
    <h3><a href="{% url 'buyer_orders_create_raw' %}">Send Order (raw payload)</a></h3>
    <p>Basic form to send an order. You must enter the payload as a raw JSON string.</p>
    <h3><a href="{% url 'buyer_orders_list' %}">List Orders</a></h3>
    <p>List all orders with any activity since a given date/time.</p>
    <h3>View order versions</h3>
    <p>View via link from the orders list. Or <a href="/buyer/campaigns/CP1DH4/orders/O-1BKZ">view an example</a></p>
    <h3>View order detail</h3>
    <p>View via link from the orders list. Or <a href="/buyer/campaigns/CP1DH4/orders/O-1BKZ/versions/3">view an example</a></p>
    <h3>Request order revision</h3>
    <p>Request a seller to revise an order, whether or not they have sent a revision. Access via link from orders/revisions list and order revision detail page.</p>
    <h3>Return order revision</h3>
    <p>If you don't like an order revision you have received, you can "return" it to the seller. Linked from order revisions list and order revision detail page.</p>
{% endblock %}
{% block raw %}{% endblock %}
