{% extends "base.html" %}
{% block title %}Buyer - Get publishers{% endblock %}

{% block content %}
    <h3>Get publishers</h3>
    <table class="table">
        <tr>
            <th>Vendor ID</th>
            <th>Vendor Name</th>
            <th>Users</th>
            <th>Media properties and fields</th>
            <th>Product catalogue</th>
        </tr>
        {% for publisher in object_list %}
        <tr>
            <td>{{ publisher.vendorId }}</td>
            <td>{{ publisher.vendorName }}</td>
            <td><a href="{% url 'buyer_metadata_publisher_users' publisher_id=publisher.vendorId %}">Show users</a></td>
            <td><a href="{% url 'buyer_metadata_publisher_mediaproperties' publisher_id=publisher.vendorId %}">Show media properties</a></td>
            <td><a href="{% url 'buyer_metadata_publisher_products' publisher_id=publisher.vendorId %}">Show products</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
