{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - RFPs - Create RFP{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<style>
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<script>
$(document).on('change', '.btn-file :file', function() {
    console.log("file input selected");
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});
$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        console.log("fileselect event triggered");
        $('form input[name="text"]').val("Selected "+numFiles+" "+((numFiles>1)?"files":"file"));
        console.log(numFiles);
        console.log(label);
    });
});
</script>

    <h3>Create RFP</h3>

    <form enctype="multipart/form-data" action="{% url 'buyer_rfps_create' %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
