{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - Orders - View Order Detail{% endblock %}

{% block content %}
    <h3>View Order (Revision) Detail - {{ order_id }} (version {{ object.majorVersion }}.{{object.minorVersion}})</h3>
    <p><a class="btn btn-default" href="{% url 'buyer_orders_revisions_return' order_id=order_id %}">Return order revision</a> <a class="btn btn-default" href="{% url 'buyer_orders_requestrevision' order_id=order_id %}">Request order revision</a></p>
    <table class="table">
      <tr>
        <th>Status</th>
        <td>{{ object.status }}</td>
      </tr>
      <tr>
        <th>Order ID</th>
        <td>{{ object.orderId }}</td>
      </tr>
      <tr>
        <th>Order Public ID</th>
        <td>{{ object.orderPublicId }}</td>
      </tr>
      <tr>
        <th>Media type</th>
        <td>{{ object.mediaType }}</td>
      </tr>
      <tr>
        <th>Seller Name</th>
        <td>{{ object.sellerName }}</td>
      </tr>
      <tr>
        <th>Seller Comments</th>
        <td>{{ object.sellerComments }}</td>
      </tr>
      <tr>
        <th>Seller Signature</th>
        <td>{{ object.sellerSignature }}</td>
      </tr>
      <tr>
        <th>Currency</th>
        <td>{{ object.currency }}</td>
      </tr>
      <tr>
        <th>Print order summary</th>
        <td>
            {% if object.printOrderSummary %}
            <table class="table">
                <tr>
                    <th>Cost</th>
                    <th>Insertions</th>
                    <th>Version</th>
                    <th>Revision number</th>
                </tr>
                <tr>
                    <td>{% if object.printOrderSummary.cost.currencyCode == 'GBP' %}£{% else %}{{ object.printOrderSummary.cost.currencyCode }}{% endif %}{{ object.printOrderSummary.cost.amount}}</td>
                    <td>{{ object.printOrderSummary.insertions }}</td>
                    <td>{{ object.printOrderSummary.version }}</td>
                    <td>{{ object.printOrderSummary.revisionNumber }}</td>
                </tr>
            </table>
            {% endif %}
        </td>
      </tr>
       <tr>
        <th>Print Revision line items</th>
        <td>
{% if object.printRevisionLineItems %}
<table class="table">
{% include 'components/print_line_item_header.html' %}
{% for line in object.printRevisionLineItems %}
{% include 'components/print_line_item.html' with line=line %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
      <tr>
        <th>Print Order line items</th>
        <td>
{% if object.printOrderLineItems %}
<table class="table">
{% include 'components/print_line_item_header.html' %}
{% for line in object.printOrderLineItems %}
{% include 'components/print_line_item.html' %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
      <tr>
        <th>Digital order summary</th>
        <td>
            {% if object.digitalOrderSummary %}
            <table class="table">
                <tr>
                    <th>Cost</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Actions</th>
                    <th>Version</th>
                    <th>Revision number</th>
                    <th>Flight dates</th>
                </tr>
                <tr>
                    <td>{% if object.digitalOrderSummary.cost.currencyCode == 'GBP' %}£{% else %}{{ object.digitalOrderSummary.cost.currencyCode }}{% endif %}{{ object.digitalOrderSummary.cost.amount}}</td>
                    <td>{{ object.digitalOrderSummary.impressions }}</td>
                    <td>{{ object.digitalOrderSummary.clicks }}</td>
                    <td>{{ object.digitalOrderSummary.actions }}</td>
                    <td>{{ object.digitalOrderSummary.version }}</td>
                    <td>{{ object.digitalOrderSummary.revisionNumber }}</td>
                    <td>{{ object.digitalOrderSummary.flightStart }} - {{ object.digitalOrderSummary.flightEnd }}</td>
                </tr>
            </table>
            {% endif %}
        </td>
      </tr>
      <tr>
        <th>Digital Order line items</th>
        <td>
{% if object.digitalOrderLineItems %}
<table class="table">
{% include 'components/digital_line_item_header.html' %}
{% for line in object.digitalOrderLineItems %}
{% include 'components/digital_line_item.html' %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
       <tr>
        <th>Digital Revision line items</th>
        <td>
{% if object.digitalRevisionLineItems %}
<table class="table">
{% include 'components/digital_line_item_header.html' %}
{% for line in object.digitalRevisionLineItems %}
{% include 'components/digital_line_item.html' %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
      <tr>
        <th>Attachments</th>
        <td>{% if object.attachments %}
                {% for attachment in object.attachments %}
                    MIME Tpe:  {{ attachment.mimeType }}<br />
                    Filename:  {{ attachment.fileName }}<br />
                    Contents: (huge base64 encoded string, not showing it here)
                {% endfor %}
            {% endif %}
        </td>
      </tr>
    </table>
{% endblock %}
