{% extends "base.html" %}
{% block title %}Buyer - RFPs{% endblock %}

{% block content %}
    <h3><a href="{% url 'buyer_rfps_create' %}">Create RFP</a></h3>
    <p>Create an RFP for a campaign (you will need the system Campaign ID).</p>
    <p>Doesn't yet include sending attachments.</p>
    <h3><a href="{% url 'buyer_rfps_list' %}">List RFPs</a></h3>
    <p>List all RFPs sent by the current buyer. Currently has a bug, raised as <a href="https://jira.mediaocean.com/browse/PATS-1072">PATS-1072</a></p>
    <h3><a href="{% url 'buyer_rfps_list' %}">List RFPs for Campaign</a></h3>
    <p>List all RFPs sent by the current buyer. Currently has a bug, raised as <a href="https://jira.mediaocean.com/browse/PATS-1072">PATS-1072</a></p>
{% endblock %}
{% block raw %}{% endblock %}
