{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - Orders - Request Revision - {{ order_id }}{% endblock %}

{% block content %}
    <p>For when you as the buyer want to request that the seller revises an order for you.</p>
    <form action="{% url 'buyer_orders_requestrevision' order_id=order_id %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
