{% extends "base.html" %}
{% load bootstrap3 %}
{% load main_tags %}

{% block pagetitle %}Buyer - Create Order with Campaign - {% endblock %}
{% block title %}Buyer - Orders - Create Order with Campaign{% endblock %}

{% block content %}
    <p>Specify a unique Campaign ID and Campaign Name, advertiser (try "AAB" for Ford or "SLO" for Brit Rail), campaign dates, and paste a valid payload into the text box, to create a new campaign and send an order on it.</p>
    <p>Use the second payload if you want to send a print and a digital order on the same campaign.</p>
    <p>The following keywords in your payload will be replaced by the appropriate values:</p>
    <ul>
        <li>PUBLISHER_ID</li>
        <li>PUBLISHER_EMAIL</li>
        <li>CAMPAIGN_ID</li>
        <li>CAMPAIGN_START_DATE</li>
        <li>CAMPAIGN_END_DATE</li>
    </ul>
    <p>You can also load a predefined test order: </p>
        <form action="{% url 'buyer_orders_create_with_campaign' %}" method="GET" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label">Choose pre-defined order </label>
                <div class="col-md-6">
                    <select name="testfile" class="form-control">
                    {% for fileid in test_file_ids %}
                        <option value="{{fileid}}">{{test_files_list|get_item:fileid}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    {% buttons submit='Load test order' %}{% endbuttons %}
                </div>
            </div>
        </form>
    
    <form action="{% url 'buyer_orders_create_with_campaign' %}" method="POST" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
