{% extends "base.html" %}
{% block title %}Seller - RFPs - List Proposals for RFP {{ rfp_id }}{% endblock %}

{% block content %}
   {% for proposal in object_list %}
    <h2>Proposal {{ forloop.counter }}: {{ proposal.id }}
    <a class="btn btn-primary" href="{% url 'buyer_rfps_proposals_view' rfp_id=rfp_id proposal_id=proposal.id %}">View proposal detail</a></h2>
    <table class="table">
        <tr>
            <th>Proposal Public ID</th>
            <td>{{ proposal.id }}</td>
        </tr>
        <tr>
            <th>Proposal external ID</th>
            <td>{{ proposal.externalId }}</td>
        </tr>
        <tr>
            <th>Proposal Version</th>
            <td>{{ proposal.version }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ proposal.status }}</td>
        </tr>
        <tr>
            <th>Author (seller) name</th>
            <td>{{ proposal.authorName }}</td>
        </tr>
        <tr>
            <th>Buyer name</th>
            <td>{{ proposal.buyerName }}</td>
        </tr>
        <tr>
            <th>Currency code</th>
            <td>{{ proposal.currencyCode }}</td>
        </tr>
        <tr>
            <th>Last activity date</th>
            <td>{{ proposal.lastActivityDate }}</td>
        </tr>
    </table>
   {% empty %}
    <p>No proposals for this RFP.</p>
   {% endfor %}
{% endblock %}
