{% extends "base.html" %}
{% block title %}Buyer - RFPs - List/Search RFPs{% endblock %}

{% block content %}
    <form method="get" action="{% url 'buyer_rfps_list' %}">
    <table class="table">
    <tr><td>Advertiser name</td><td><input type="text" name="advertiser_name" value="{{search_advertiser_name}}"/></td></tr>
    <tr><td>Campaign URN</td><td> <input type="text" name="campaign_urn" value="{{search_campaign_urn}}"/></td></tr>
    <tr><td>From date</td><td> <input type="date" name="rfp_start_date" value="{{search_rfp_start_date}}"/></td></tr>
    <tr><td>To date</td><td> <input type="date" name="rfp_end_date" value="{{search_rfp_end_date}}"/></td></tr>
    <tr><td>Respond by date</td><td> <input type="date" name="response_due_date" value="{{search_response_due_date}}"/></td></tr>
    <tr><td>Status</td><td><input type="text" name="status" value="{{search_status}}"/></td></tr>
    </table>
    <input type="submit" value="Refresh list"/>
    </form>
    <p></p>
    <table class="table">
        {% include 'components/rfp_line_item_header.html' %}
        {% for rfp in object_list %}
            {% include 'components/rfp_line_item.html' %}
        {% endfor %}
    </table>

{% endblock %}
