{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - RFPs - Return Proposal - {{ proposal_id }}{% endblock %}

{% block content %}
    <form action="{% url 'buyer_rfps_proposals_return' rfp_id=rfp_id proposal_id=proposal_id %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
