{% extends "base.html" %}
{% block pagetitle %}Buyer - View media properties for publisher {{ publisher_id }}{% endblock %}
{% block title %}Buyer - View media properties for publisher {{ publisher_id }}{% endblock %}

{% block content %}
    {% for media_property in media_properties %}
        <h2>Media Property: {{ media_property.mediaPropertyName }} (ID: {{ media_property.mediaPropertyId }})</h2>
        <p>Field families:
        <ul>
        {% for field_family in media_property.fieldFamilies %}
            <li>{{ field_family.name }} (allow free-form: {{ field_family.allowFreeFormText }})
              <ul>
            {% for field in field_family.fields %}

 <li>Field name: {{ field.name }}
        (ID: {{ field.fieldKey.id }},
         media type: {{ field.fieldKey.mediaType }},
         field type: {{ field.fieldKey.fieldType }},
         default: {{ field.default }},
         enabled: {{ field.enabled }},
         custom: {{ field.fieldKey.custom }})
 {% if field.childFields %}
  <br/>
  Child fields:
 <ul>
   {# for child_field in field.childFields #}
        {# include 'components/media_property_field_line_item.html' with field=child_field #}
   {# endfor #}
 </ul>
 {% endif %}
 </li>
            {% endfor %}
              </ul>
            </li>
        {% endfor %}
        </ul>
        </p>
    {% endfor %}
{% endblock %}
