{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - Campaigns - Update Campaign{% endblock %}

{% block content %}
    <h3>Update Campaign</h3>

    <form action="{% url 'buyer_campaigns_update' campaign_id=campaign_id %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal'%}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
