{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - Orders - View Order Detail{% endblock %}

{% block content %}
    <h3>View Order Detail - {{ order_id }} (version {{ object.majorVersion }}.{{object.minorVersion}})</h3>
    <table class="table">
      <tr>
        <th>Status</th>
        <td>{{ object.status }}</td>
      </tr>
      <tr>
        <th>Order ID</th>
        <td>{{ object.orderId }}</td>
      </tr>
      <tr>
        <th>Order Public ID</th>
        <td>{{ object.orderPublicId }}</td>
      </tr>
      <tr>
        <th>Media type</th>
        <td>{{ object.mediaType }}</td>
      </tr>
      <tr>
        <th>Seller Name</th>
        <td>{{ object.sellerName }}</td>
      </tr>
      <tr>
        <th>Seller Comments</th>
        <td>{{ object.sellerComments }}</td>
      </tr>
      <tr>
        <th>Seller Signature</th>
        <td>{{ object.sellerSignature }}</td>
      </tr>
      <tr>
        <th>Currency</th>
        <td>{{ object.currency }}</td>
      </tr>
      <tr>
        <th>Print order summary</th>
        <td>
            {% if object.printOrderSummary %}
            <table class="table">
                <tr>
                    <th>Cost</th>
                    <th>Insertions</th>
                    <th>Version</th>
                    <th>Revision number</th>
                </tr>
                <tr>
                    <td>{% if object.printOrderSummary.cost.currencyCode == 'GBP' %}£{% else %}{{ object.printOrderSummary.cost.currencyCode }}{% endif %}{{ object.printOrderSummary.cost.amount}}</td>
                    <td>{{ object.printOrderSummary.insertions }}</td>
                    <td>{{ object.printOrderSummary.version }}</td>
                    <td>{{ object.printOrderSummary.revisionNumber }}</td>
                </tr>
            </table>
            {% endif %}
        </td>
      </tr>
       <tr>
        <th>Print Revision line items</th>
        <td>
{% if object.printRevisionLineItems %}
<table class="table">
<tr>
<th>Line item ID</th>
<th>Public ID</th>
<th>Line number</th>
<th>Package Type</th>
<th>Group name</th>
<th>Name</th>
<th>Publication</th>
<th>Section</th>
<th>Size</th>
<th>Buy Category</th>
<th>Print Position</th>
<th>Colour</th>
<th>Buy type</th>
<th>Cost method</th>
<th>Unit amount</th>
<th>Rate - amount</th>
<th>Rate - currency</th>
<th>Unit type</th>
<th>Cost - amount</th>
<th>Cost - currency</th>
<th>Region</th>
<th>Cover date</th>
<th>Comments</th>
<th>Custom columns</th>
<th>Max Animation Timing (?)</th>
<th>Share of Voice (?)</th>
<th>Product Public ID</th>
<th>Publisher Product Ext ID</th>
</tr>
{% for line in object.printRevisionLineItems %}
<tr>
<td><!-- this is line.lineItemId on the seller side (I think) -->
{{ line.id }}</td>
<!-- this doesn't seem to exist on the seller side -->
<td>{{ line.publicId }}</td>
<td>{{ line.lineNumber }}</td>
<td>{{ line.packageType }}</td>
<td>{{ line.groupName }}</td>
<td>{{ line.name }}</td>
<!-- this is line.publication on the seller side --></td>
<td>{{ line.publicationName }}</td>
<td>{{ line.section }}</td>
<td>{{ line.size }}</td>
<td>{{ line.buyCategory }}</td>
<td>{{ line.printPosition }}</td>
<td>{{ line.color }}</td>
<td>{{ line.buyType }}</td>
<td>{{ line.costMethod }}</td>
<td>{{ line.unitAmount }}</td>
<td>{{ line.rate.amount }}</td>
<td>{{ line.rate.currencyCode }}</td>
<td>{{ line.unitType }}</td>
<td>{{ line.cost.amount }}</td>
<td>{{ line.cost.currencyCode }}</td>
<td>{{ line.region }}</td>
<td>{{ line.coverDate }}</td>
<td>{{ line.comments }}</td>
<td>{{ line.customColumns }}</td>
<td>{{ line.productPublicId }}</td>
<td>{{ line.publisherProductExtId }} </td>
</tr>
{% endfor %}
</table>
{% endif %}
</td>
      </tr>
      <tr>
        <th>Print Order line items</th>
        <td>
<!-- note this is "object.printLineItems" in seller-side order detail -->
{% if object.printOrderLineItems %}
<table class="table">
<tr>
<th>Line item ID</th>
<th>Public ID</th>
<th>Line number</th>
<th>Package Type</th>
<th>Group name</th>
<th>Name</th>
<th>Publication</th>
<th>Section</th>
<th>Size</th>
<th>Buy Category</th>
<th>Print Position</th>
<th>Colour</th>
<th>Buy type</th>
<th>Cost method</th>
<th>Unit amount</th>
<th>Rate - amount</th>
<th>Rate - currency</th>
<th>Unit type</th>
<th>Cost - amount</th>
<th>Cost - currency</th>
<th>Region</th>
<th>Cover date</th>
<th>Comments</th>
<th>Custom columns</th>
<th>Product Public ID</th>
<th>Publisher Product Ext ID</th>
</tr>
{% for line in object.printOrderLineItems %}
<tr>
<td><!-- this is line.lineItemId on the seller side (I think) -->
{{ line.id }}</td>
<!-- this doesn't seem to exist on the seller side -->
<td>{{ line.publicId }}</td>
<td>{{ line.lineNumber }}</td>
<td>{{ line.packageType }}</td>
<td>{{ line.groupName }}</td>
<td>{{ line.name }}</td>
<!-- this is line.publication on the seller side --></td>
<td>{{ line.publicationName }}</td>
<td>{{ line.section }}</td>
<td>{{ line.size }}</td>
<td>{{ line.buyCategory }}</td>
<td>{{ line.printPosition }}</td>
<td>{{ line.color }}</td>
<td>{{ line.buyType }}</td>
<td>{{ line.costMethod }}</td>
<td>{{ line.unitAmount }}</td>
<td>{{ line.rate.amount }}</td>
<td>{{ line.rate.currencyCode }}</td>
<td>{{ line.unitType }}</td>
<td>{{ line.cost.amount }}</td>
<td>{{ line.cost.currencyCode }}</td>
<td>{{ line.region }}</td>
<td>{{ line.coverDate }}</td>
<td>{{ line.comments }}</td>
<td>{{ line.customColumns }}</td>
<td>{{ line.productPublicId }}</td>
<td>{{ line.publisherProductExtId }} </td>
</tr>
{% endfor %}
</table>
{% endif %}
</td>
      </tr>
      <tr>
        <th>Digital order summary</th>
        <td>
            {% if object.digitalOrderSummary %}
            <table class="table">
                <tr>
                    <th>Cost</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Actions</th>
                    <th>Version</th>
                    <th>Revision number</th>
                    <th>Flight dates</th>
                </tr>
                <tr>
                    <td>{% if object.digitalOrderSummary.cost.currencyCode == 'GBP' %}£{% else %}{{ object.digitalOrderSummary.cost.currencyCode }}{% endif %}{{ object.digitalOrderSummary.cost.amount}}</td>
                    <td>{{ object.digitalOrderSummary.impressions }}</td>
                    <td>{{ object.digitalOrderSummary.clicks }}</td>
                    <td>{{ object.digitalOrderSummary.actions }}</td>
                    <td>{{ object.digitalOrderSummary.version }}</td>
                    <td>{{ object.digitalOrderSummary.revisionNumber }}</td>
                    <td>{{ object.digitalOrderSummary.flightStart }} - {{ object.digitalOrderSummary.flightEnd }}</td>
                </tr>
            </table>
            {% endif %}
        </td>
      </tr>
      <tr>
        <th>Digital Order line items</th>
        <td>
<table class="table">
<tr>
<th>Line item ID</th> <th>Line number</th> <th>Package type</th> <th>Primary placement</th> <th>Group name</th> <th>Name</th> <th>Cost Method</th> <th>Site</th> <th>Custom columns</th> <th>Dimensions</th> <th>Flight start</th> <th>Flight end</th> <th>Section</th> <th>Dimensions position</th> <th>Buy type</th> <th>Buy category</th> <th>Target</th> <th>Unit amount</th> <th>Unit type</th> <th>Rate</th> <th>Cost</th> <th>Comments</th> <th>Served by</th> <th>Creative type</th> <th>Market value</th>
<th>Max Animation Timing (?)</th>
<th>Share of Voice (?)</th>
</tr>
{% for line in object.digitalOrderLineItems %}
<tr>
<td>{{ line.lineItemId }}</td> <td>{{ line.lineNumber }}</td> <td>{{ line.packageType }}</td> <td>{{ line.primaryPlacement }}</td> <td>{{ line.groupName }}</td> <td>{{ line.name }}</td> <td>{{ line.costMethod }}</td> <td>{{ line.site }}</td> <td>{{ line.customColumns }}</td> <td>{{ line.dimensions }}</td> <td>{{ line.flightStart }}</td> <td>{{ line.flightEnd }}</td> <td>{{ line.section }}</td> <td>{{ line.dimensionsPosition }}</td> <td>{{ line.buyType }}</td> <td>{{ line.buyCategory }}</td> <td>{{ line.target }}</td> <td>{{ line.unitAmount }}</td> <td>{{ line.unitType }}</td> <td>{{ line.rate }}</td> <td>{{ line.cost }}</td> <td>{{ line.comments }}</td> <td>{{ line.servedBy }}</td> <td>{{ line.creativeType }}</td> <td>{{ line.marketValue }}</td>
<td>{{ line.maxAnimationTiming }}</td>
<td>{{ line.shareOfVoice }}</td>
</tr>
{% empty %}None
{% endfor %}
</table>
</td>
      </tr>
       <tr>
        <th>Digital Revision line items</th>
        <td>
<table class="table">
<tr>
<th>Line item ID</th> <th>Line number</th> <th>Package type</th> <th>Primary placement</th> <th>Group name</th> <th>Name</th> <th>Cost Method</th> <th>Site</th> <th>Custom columns</th> <th>Dimensions</th> <th>Flight start</th> <th>Flight end</th> <th>Section</th> <th>Dimensions position</th> <th>Buy type</th> <th>Buy category</th> <th>Target</th> <th>Unit amount</th> <th>Unit type</th> <th>Rate</th> <th>Cost</th> <th>Comments</th> <th>Served by</th> <th>Creative type</th> <th>Market value</th>
<th>Max Animation Timing (?)</th>
<th>Share of Voice (?)</th>
</tr>
{% for line in object.digitalRevisionLineItems %}
<tr>
<td>{{ line.lineItemId }}</td> <td>{{ line.lineNumber }}</td> <td>{{ line.packageType }}</td> <td>{{ line.primaryPlacement }}</td> <td>{{ line.groupName }}</td> <td>{{ line.name }}</td> <td>{{ line.costMethod }}</td> <td>{{ line.site }}</td> <td>{{ line.customColumns }}</td> <td>{{ line.dimensions }}</td> <td>{{ line.flightStart }}</td> <td>{{ line.flightEnd }}</td> <td>{{ line.section }}</td> <td>{{ line.dimensionsPosition }}</td> <td>{{ line.buyType }}</td> <td>{{ line.buyCategory }}</td> <td>{{ line.target }}</td> <td>{{ line.unitAmount }}</td> <td>{{ line.unitType }}</td> <td>{{ line.rate }}</td> <td>{{ line.cost }}</td> <td>{{ line.comments }}</td> <td>{{ line.servedBy }}</td> <td>{{ line.creativeType }}</td> <td>{{ line.marketValue }}</td>
<td>{{ line.maxAnimationTiming }}</td>
<td>{{ line.shareOfVoice }}</td>
</tr>
{% empty %}None
{% endfor %}
</table>
</td>
      </tr>
      <tr>
        <th>Attachments</th>
        <td>{% if object.attachments %}
                {% for attachment in object.attachments %}
                    MIME Tpe:  {{ attachment.mimeType }}<br />
                    Filename:  {{ attachment.fileName }}<br />
                    Contents: (huge base64 encoded string, not showing it here)
                {% endfor %}
            {% endif %}
        </td>
      </tr>
      <tr>
        <th>Agency Name (not on buyer side)</th>
        <td>{{ object.agencyName }}</td>
      </tr>
      <tr>
        <th>Terms and Conditions (not on buyer side)</th>
        <td>{{ object.termsAndConditions }}</td>
      </tr>
      <tr>
        <th>Campaign ID (not on buyer side)</th>
        <td>{{ object.campaignId }}</td>
      </tr>
      <tr>
        <th>Agency campaign ref no (not on buyer side)</th>
        <td>{{ object.agencyCampaignReferenceNo }}</td>
      </tr>
      <tr>
        <th>Campaign Name (not on buyer side)</th>
        <td>{{ object.campaignName }}</td>
      </tr>
      <tr>
        <th>Vendor Name (not on buyer side)</th>
        <td>{{ object.vendorName }}</td>
      </tr>
      <tr>
        <th>Client Name (not on buyer side)</th>
        <td>{{ object.clientName }}</td>
      </tr>
    </table>
{% endblock %}
