{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Buyer - RFPs - View RFP Detail - {{ rfp_id }}{% endblock %}

{% block content %}
<h3>Campaign info</h3>
<table class="table">
<tr><th>Campaign URN</th><td>{{ object.campaignRfpDto.campaignUrn }}</td></tr>
<tr><th>Campaign public ID</th><td>{{ object.campaignRfpDto.campaignPublicId }}</td></tr>
<tr><th>Campaign name</th><td>{{ object.campaignRfpDto.campaignName }}</td></tr>
<tr><th>Client</th><td>{{ object.campaignRfpDto.client }}</td></tr>
<tr><th>Brand</th><td>{{ object.campaignRfpDto.brand }}</td></tr>
<tr><th>Start date</th><td>{{ object.campaignRfpDto.startdate }}</td></tr>
<tr><th>End date</th><td>{{ object.campaignRfpDto.endDate }}</td></tr>
</table>
{% for rfp in object.cmRfpDtoList %}
<h3>RFP Info</h3>
<table class="table">
<tr><th>RFP Public ID</th><td>{{ rfp.rfpPublicId }}</td></tr>
<tr><th>RFP Status</th><td>{{ rfp.status}}</td></tr>
<tr><th>Start date</th><td>{{ rfp.startDate}}</td></tr>
<tr><th>End date</th><td>{{ rfp.endDate}}</td> </tr>
<tr><th>Media</th><td>{{ rfp.media }}</td></tr>
<tr><th>Agency Public ID</th><td>{{ rfp.agencyPublicId }}</td></tr>
<tr><th>Campaign Public ID</th><td>{{ rfp.campaignPublicId }}</td></tr>
<tr><th>Strategy</th><td>{{ rfp.strategy }}</td> </tr>
<tr><th>Budgets</th><td>{{ rfp.budgets }}</td></tr>
<tr><th>Comments</th><td>{{ rfp.comments }}</td></tr>
<tr><th>Requested products</th><td>{{ rfp.requestedProducts }}</td></tr>
<tr>
<th>Publisher recipients</th>
<td>{{ rfp.publisherRecipients }}</td>
<!-- [{u'publisherPublicId': u'35-PUOEFOA-9', u'emails': [u'alan.tagg@dmgmedia.co.uk']}] -->
</tr>
<tr><th>Monthly Flighting</th><td>{{ rfp.includeMonthlyFlighting }}</td></tr>
<tr><th>RFP ID</th><td>{{ rfp.rfpId }}</td></tr>
<tr><th>Agency User ID</th><td>{{ rfp.agencyUserId }}</td></tr>
<tr><th>Response due date</th><td>{{ rfp.responseDueDate }}</td></tr>
<tr><th>Attachments</th><td>{{ rfp.attachments }}</td></tr>
</table>
<h3>Proposals</h3>
{% for proposal in rfp.proposals %}
<div class="row">
 <div class="col-md-2"><strong>Proposal #{{ forloop.counter }}</strong></div>
 <div class="col-md-10">
  <table class="table">
  <tr><th>Proposal public ID</th><td>{{ proposal.proposalPublicId }} </td></tr>
  <tr><th>Proposal external ID</th><td>{{ proposal.proposalExternalId }} </td></tr>
  <tr><th>Version</th><td>{{ proposal.proposalVersion }} </td></tr>
  <tr><th>Status</th><td>{{ proposal.status }} </td></tr>
  <tr><th>Author name</th><td>{{ proposal.authorName }} </td></tr>
  <tr><th>Comments</th><td>{{ proposal.comments }} </td></tr>
  <tr><th>Print line items</th><td>{{ proposal.printLineItems }} </td></tr>
  <tr><th>Digital line items</th><td>{{ proposal.digitalLineItems }} </td></tr>
  <tr><th>Attachments</th><td>{{ proposal.attachments }} </td></tr>
  </table>
  <p><a class="btn btn-primary" href="{% url 'buyer_rfps_proposals_return' rfp_id=rfp_id proposal_id=proposal.proposalPublicId %}">Return this proposal</a> (ie send back to seller with a comment)</p>
 </div>
</div>
{% empty %}
<p>None.</p>
{% endfor %}
{% endfor %}
{% endblock %}
