{% extends "base.html" %}
{% load bootstrap3 %}

{% block pagetitle %}Buyer - Create Order from payload - {% endblock %}
{% block title %}Buyer - Orders - Create Order (raw payload version){% endblock %}

{% block content %}
    <h3>Create Order</h3>

    <form action="{% url 'buyer_orders_create_raw' %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
