{% extends "base.html" %}
{% block title %}Buyer - Campaigns{% endblock %}

{% block content %}
    <h3><a href="{% url 'buyer_campaigns_create' %}">Create Campaign</a></h3>
    <p>Create a new campaign which you can then use to send RFPs or orders.</p>
    <h3>View Campaign</h3>
    <p>We're using the "view RFPs for Campaign" call to provide info on a campaign ID, linked from the Search for RFPs list, but it doesn't work: PATS-939</p>
    <h3>Update Campaign</h3>
    <p>This exists in the API, but I haven't implemented it here yet.</p>
{% endblock %}
{% block raw %}{% endblock %}
