{% extends "base.html" %}
{% block title %}Buyer - RFPs{% endblock %}

{% block content %}
    <h3><a href="{% url 'buyer_rfps_create_with_campaign' %}">Send RFP with Campaign</a></h3>
    <p>Helper page that lets you create a campaign and immediately send an RFP on that campaign, all with one form.</p>
    <h3><a href="{% url 'buyer_rfps_create' %}">Create RFP</a></h3>
    <p>Create an RFP for a campaign (you will need the system Campaign ID).</p>
    <p>Doesn't yet include sending attachments.</p>
    <h3><a href="{% url 'buyer_rfps_list' %}">List RFPs</a></h3>
    <p>List all RFPs sent by the current buyer.</p>
    <h3><a href="{% url 'buyer_campaigns_rfps_list' campaign_id='CTMP'%}">List RFPs for Campaign</a></h3>
    <p>List all RFPs sent by the current buyer.</p>
{% endblock %}
{% block raw %}{% endblock %}
