{% extends "base.html" %}
{% block title %}Buyer - Campaigns - View Campaign: {{ campaign_id }}{% endblock %}

{% block content %}
    <h3>Campaign info</h3>
    <table class="table">
        <tr><th>Campaign Public ID</th><td>{{ object.campaignRfpDto.campaignPublicId }}</td></tr>
        <tr><th>Campaign URN</th><td>{{ object.campaignRfpDto.campaignUrn }}</td></tr>
        <tr><th>Campaign Name</th><td>{{ object.campaignRfpDto.campaignName }}</td></tr>
        <tr><th>Campaign Start Date</th><td>{{ object.campaignRfpDto.startdate }}</td></tr>
        <tr><th>Campaign End Date</th><td>{{ object.campaignRfpDto.endDate }}</td></tr>
        <tr><th>Client</th><td>{{ object.campaignRfpDto.client }}</td></tr>
        <tr><th>Brand</th><td>{{ object.campaignRfpDto.brand }}</td></tr>
    </table>
    <table class="table">
        <tr><th>RFP Public ID</th><th>RFP ID</th><th>Agency ID</th><th>Vendor ID</th><th>Media Type</th><th>Status</th><th>Start date</th><th>End date</th><th>Budgets</th><th>Due Date</th><th>Buyer Name</th><th>Buyer Email</th><th>Comments</th><th>Campaign Public ID</th><th>Campaign Name</th><th>Strategy</th><th>Publisher recipients</th><th>Agency user</th><th>Requested Products</th><th>Flighting?</th><th>Attachments</th> </tr>
        {% for rfp in object.cmRfpDtoList %}
        <tr>
            <td>
<a href="{% url 'buyer_rfps_view' rfp.rfpPublicId %}">{{ rfp.rfpPublicId }}</a></td>
            <td>{{ rfp.rfpId }}</td>
            <td>{{ rfp.agencyPublicId }}</td>
            <td>{{ rfp.publisherPublicId }}</td>
            <td>{{ rfp.media }}</td>
            <td>{{ rfp.status }}</td>
            <td>{{ rfp.startDate }}</td>
            <td>{{ rfp.endDate }}</td>
            <td>{{ rfp.budgets }}</td>
            <td>{{ rfp.responseDueDate }}</td>
            <td>{{ rfp.buyerName }}</td>
            <td>{{ rfp.buyerEmail }}</td>
            <td>{{ rfp.comments }}</td>
            <td>{{ rfp.campaignPublicId }}</td>
            <td>{{ rfp.campaignName }}</td>
            <td>{{ rfp.strategy }}</td>
            <td>{{ rfp.publisherRecipients }}</td>
            <td>{{ rfp.agencyUserId }}</td>
            <td>{{ rfp.requestedProducts }}</td>
            <td>{{ rfp.includeMonthlyFlighting }}</td>
            <td>{{ rfp.attachments }}</td>
        </tr>
            {% if rfp.proposals %}
            <tr><td></td><td colspan="21">Proposals: {{ rfp.proposals }}</td></tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}
