{% extends "base.html" %}
{% block title %}Buyer - Campaigns - View Campaign: {{ campaign_id }}{% endblock %}

{% block content %}
    <h3>Campaign info</h3>
    <table class="table">
        <tr><th>Campaign ID</th><td>{{ campaign_id }}</td></tr>
        <tr><th>Campaign External ID</th><td>{{ object.externalDetails.externalId }}</td></tr>
        <tr><th>Campaign Name</th><td>{{ object.campaignName }}</td></tr>
        <tr><th>Campaign Start Date</th><td>{{ object.startDate }}</td></tr>
        <tr><th>Campaign End Date</th><td>{{ object.endDate }}</td></tr>
        <tr><th>Client</th><td>{{ object.advertiser }}</td></tr>
        <tr><th>Campaign budget</th><td>{{ object.mediaBudget.campaignBudget }}</td></tr>
        <tr><th>Multi-currency</th><td>{{ object.multiCurrency }}</td></tr>
    </table>
    <p><a href="{% url 'buyer_campaigns_update' campaign_id=campaign_id %}" class="btn btn-primary">Update (edit) this campaign</a> &nbsp;
    <a href="{% url 'buyer_campaigns_rfps_list' campaign_id=campaign_id %}" class="btn btn-primary">View RFPs on this campaign</a></p>
{% endblock %}
