{% extends "base.html" %}
{% block title %}Buyer - List Orders{% endblock %}

{% block content %}
    <p>
        Note that this only shows major versions of orders, not revisions.
    </p>
    <form method="get" action="{% url 'buyer_orders_list' %}">
    Since date: <input type="date" name="since_date" value="{{since_date}}"/>
    Page size: <input type="text" name="page_size" value="{{page_size}}"/>
    Page no: <input type="text" name="page" value="{{page}}"/>
    <input type="submit" value="Refresh list"/>
    </form>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Agency ID</th>
            <th>Publisher ID</th>
            <th>Campaign ID</th>
            <th>Last activity</th>
            <th>Major version</th>
            <th>Order version status</th>
            <th>Revision requested?</th>
            <th>Actions</th>
        </tr>
        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</a></td>
            <td>{{ order.agencyId }}</td>
            <td>{{ order.vendorId }}</td>
            <td><a href="{% url 'buyer_campaigns_detail_view' campaign_id=order.campaignId %}">{{ order.campaignId }}</a></td>
            <td>{{ order.lastActivityTime }}</td>
            <td>{{ order.majorVersion }}</td>
            <td>{{ order.orderVersionStatus }}</td>
            <td>{{ order.revisionrequested }}</td>
            <td>
<a href="{% url 'buyer_order_versions_list' campaign_id=order.campaignId order_id=order.id %}" class="btn btn-default">View order versions</a><br/>
<a href="{% url 'buyer_order_version_view' campaign_id=order.campaignId order_id=order.id version=order.majorVersion%}" class="btn btn-default">View latest version</a><br/>
<a href="{% url 'buyer_orders_requestrevision' campaign_id=order.campaignId order_id=order.id version=order.majorVersion %}" class="btn btn-default">Request order revision</a><br/>
                </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
