{% extends "base.html" %}
{% block title %}Buyer - Campaigns{% endblock %}

{% block content %}
    <h3><a href="{% url 'buyer_campaigns_create' %}">Create Campaign</a></h3>
    <p>Create a new campaign which you can then use to send RFPs or orders.</p>
    <h3>View Campaign</h3>
    <p>It would be nice if there were an API call to view information about a campaign, but there isn't one.</p>
    <h3>Update Campaign</h3>
    <p>This exists in the API, but I haven't implemented it here yet.</p>
{% endblock %}
