{% extends "base.html" %}
{% block title %}Welcome to the PATS API Tester{% endblock %}

{% block content %}
    <p>This is used to run manual tests of the PATS platform.</p>
    <p>Use the navigation menu above to choose an API to test on either the buyer or seller side.</p>
    <p>Currently the buyer is hardcoded to PATS3 and the seller is hardcoded to PATS Media Seller.</p>
    <p>Soon you will be able to configure the PATS API Tester to use your (test) vendor and agency IDs.</p>
{% endblock %}
