{% extends "base.html" %}
{% block title %}Welcome to the PATS API Tester{% endblock %}

{% block content %}
    <p>This is used to run manual tests of the PATS platform.</p>
    <p>Use the navigation menu above to choose an API to test on either the buyer or seller side.</p>
    <h3>Updates on 22 July 2015:</h3>
    <ul>
    <li>We now support attaching files (well, one file) in creating RFPs. For attachments to proposals it's a bit trickier as we need to add them to raw payloads, but we'll make that work soon.</li>
    </ul>
    <h3>Updates on 16 July 2015:</h3>
    <ul>
    <li>Added "Request Order Revision", linked from order revisions list on the buy side. It doesn't seem to work, though - logged bug as PATS-967.</li>
    </ul>
    <h3>Updates on 15 July 2015:</h3>
    <ul>
    <li>Added "Return Order Revision", linked from order revisions list on the buy side.</li>
    </ul>
    <h3>Updates on 14 July 2015:</h3>
    <ul>
    <li>Added "Create Order With Campaign" page to assist with acceptance testing. It creates a campaign and either one or two orders in one hit.</li>
    </ul>
    <h3>Updates on 13 July 2015:</h3>
    <ul>
    <li>Added "order status" call on buy side.</li>
    </ul>
    <h3>Updates on 1 July 2015:</h3>
    <ul>
    <li>We now link to attachment downloads where possible on buyer and seller side. However both have bugs on the Mediaocean API side, so neither of them work right now. See bugs PATS-953 and PATS-954.</li>
    </ul>
    <h3>Updates on 30 June 2015:</h3>
    <ul>
    <li>Fixed "curl" output quote escaping so you should now be able to cut and paste all curl commands.</li>
    <li>Fixed a bug that stopped "Send Order Revision" from working. Although I still can't get the API to work, I've raised PATS-949 about it.</li>
    </ul>
    <h3>Updates on 29 June 2015:</h3>
    <ul>
    <li>Added "respond to proposal" which handles a buyer "responding" to a seller's proposal with some comments. Linked from buyer-side "view RFP" pages.</li>
    <li>Added output of curl and raw JSON response to the bottom of each API call page. It's a bit untidy and only returns the last API call made, not necessarily syncing up with that page, so might give slightly odd results until I clean it up.</li>
    </ul>
    <h3>Updates on 26 June 2015:</h3>
    <ul>
    <li>Added buyer-side View Campaign page, but it doesn't work due to bug PATS-939</li>
    </ul>
    <h3>Updates on 25 June 2015:</h3>
    <ul>
    <li>Send proposal now works, linked from View RFP and View Proposals pages.</li>
    </ul>
    <h3>Updates on 23 June 2015:</h3>
    <ul>
    <li>Seller-side order history page now links through to "full history" with more info</li>
    </ul>
    <h3>Updates on 17 June 2015:</h3>
    <ul>
    <li><a href="{% url 'buyer_rfps_create' %}">Create RFP</a> now works</li>
    <li>Reorganised the index pages and added descriptions for most API calls</li>
    <li>Added empty listings for the calls we haven't yet implemented in the API tester</li>
    </ul>
    <h3>Updates on 16 June 2015:</h3>
    <ul>
    <li>Sellers can now "respond" to orders, ie "Accept" or "Reject" them, via the <a href="{% url 'seller_orders_list' %}">seller view orders page</a>. The Mediaocean API returns a 500 error, but it still works.</li>
    </ul>
    <h3>Updates on 15 June 2015:</h3>
    <ul>
    <li>The simple <a href="{% url 'buyer_orders_create_raw' %}">create order</a> form now works - but you have to paste the JSON payload into a textarea so it's still quite clunky. Hopefully I'll have a better version working soon.</li>
    <li>You can now <a href="{% url 'buyer_campaigns_create' %}">create a campaign</a> using a web form</li>
    </ul>
    <h3>Updates on 12 June 2015:</h3>
    <ul>
    <li>You can now <a href="{% url 'configuration' %}">change the configuration parameters</a> either individually or using a preset configuration group, using the link in the top right corner of every page</li>
    </ul>
    <p>For comments or to report a bug, please <a href="mailto:brendan.quinn@pats.org.uk">email Brendan</a></p>
{% endblock %}
{% block raw %}{% endblock %}
