{% extends "base.html" %}
{% block title %}Seller - RFPs - View Proposal Details for RFP {{ rfp_id }}, Proposal {{ proposal_id }}{% endblock %}

{% block content %}
    <table class="table">
        <tr> <th>Proposal ID</th> <td>{{ proposal_id }}</td> </tr>
        <tr> <th>Proposal external ID</th> <td>{{ object.externalId }}</td> </tr>
        <tr> <th>Proposal Version</th> <td>{{ object.proposalVersion }}</td> </tr>
        <tr> <th>RFP ID</th> <td>{{ object.rfpId }}</td> </tr>
        <tr> <th>Vendor ID</th> <td>{{ object.vendorId }}</td> </tr>
        <tr> <th>Status</th> <td>{{ object.status }}</td> </tr>
        <tr> <th>Comments</th> <td>{{ object.comments }}</td> </tr>
        <tr>
            <th>Print line items</th>
            <td>
{% if object.printLineItems %}
    <table class="table">
    {% include 'components/print_line_item_header.html' %}
    {% for line in object.printLineItems %}
        {% include 'components/print_line_item.html' with line=line %}
    {% endfor %}
    </table>
{% else %}
None.
{% endif %}
</td>
        </tr>
        <tr>
            <th>Digital line items</th>
            <td>
{% if object.digitalLineItems %}
    <table class="table">
    {% include 'components/digital_line_item_header.html' %}
    {% for line in object.digitalLineItems %}
        {% include 'components/digital_line_item.html'  with line=line %}
    {% endfor %}
    </table>
{% else %}
None.
{% endif %}
</td>
        </tr>
        <tr>
            <th>Attachments</th>
            <td>
    <ul>
      {% for attachment in object.attachments %}
         <li>{% include 'components/attachment_item.html' %}</li>
      {% endfor %}
    </ul>
            </td>
        </tr>
    </table>
{% endblock %}
