{% extends "base.html" %}
{% block title %}Seller - List Orders{% endblock %}

{% block content %}
    <form method="get" action="{% url 'seller_orders_list' %}">
    Since date: <input type="date" name="since_date" value="{{since_date}}"/>
    Page size: <input type="text" name="page_size" value="{{page_size}}"/>
    Page no: <input type="text" name="page" value="{{page}}"/>
    <input type="submit" value="Refresh list"/>
    </form>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Publisher ref</th>
            <th>Version</th>
            <th>Status</th>
            <th>Agency ID</th>
            <th>Vendor ID</th>
            <th>Campaign ID</th>
            <th>Revision requested?</th>
            <th>Last activity time</th>
            <th>Actions</th>
        </tr>
        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.externalId }}</td>
            <td>{{ order.majorVersion }}</td>
            <td>{{ order.orderVersionStatus }}</td>
            <td>{{ order.agencyId }}</td>
            <td>{{ order.vendorId }}</td>
            <td>{{ order.campaignId }}</td>
            <td>{{ order.revisionRequested }}</td>
            <td>{{ order.lastActivityTime }}</td>
            <td>
<a href="{% url 'seller_orders_versions_list' campaign_id=order.campaignId order_id=order.id %}" class="btn btn-default">View order versions</a><br/>
<a href="{% url 'seller_orders_events_list' order_id=order.id %}" class="btn btn-default">View order event history</a><br/>
<a href="{% url 'seller_order_version_view' campaign_id=order.campaignId order_id=order.id version=order.majorVersion%}" class="btn btn-default">View latest version</a><br/>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
