{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Seller - Orders - Respond to Order{% endblock %}

{% block content %}
    <h3>Respond to Order - {{ order_id }} (version {{ version }})</h3>

    <form action="{% url 'seller_orders_respond' order_id=order_id version=version %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>

    <h3>Order summary</h3>
    <table class="table">
      <tr>
        <th>Status</th>
        <td>{{ object.status }}</td>
      </tr>
      <tr>
        <th>Order ID</th>
        <td>{{ object.orderId }}</td>
      </tr>
      <tr>
        <th>Comment History</th>
        <td>
<table class="table">
<tr>
<th>Timestamp</th>
<th>Version</th>
<th>Status</th>
<th>Full name</th>
<th>Email</th>
<th>Comment</th>
<th>Documents</th>
</tr>
{% for comment in object.commentHistory %}
<tr>
<td>{{ comment.timestamp }}</td>
<td>{{ comment.version }}</td>
<td>{{ comment.status }}</td>
<td>{{ comment.fullName }}</td>
<td>{{ comment.email }}</td>
<td>{{ comment.comment }}</td>
<td>{{ comment.documents }}</td>
</tr>
{% endfor %}
</table>
</td>
      </tr>
      <tr>
        <th>Agency Name</th>
        <td>{{ object.agencyName }}</td>
      </tr>
      <tr>
        <th>Terms and Conditions</th>
        <td>{{ object.termsAndConditions }}</td>
      </tr>
      <tr>
        <th>Campaign ID</th>
        <td>{{ object.campaignId }}</td>
      </tr>
      <tr>
        <th>Print line items</th>
        <td>
{% if object.printLineItems %}
<table class="table">
{% include 'components/print_line_item_header.html' %}
{% for line in object.printLineItems %}
{% include 'components/print_line_item.html' %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
      <tr>
        <th>Media type</th>
        <td>{{ object.mediaType }}</td>
      </tr>
      <tr>
        <th>Digital line items</th>
        <td>
{% if object.digitalLineItems %}
<table class="table">
{% include 'components/digital_line_item_header.html' %}
{% for line in object.digitalLineItems %}
{% include 'components/digital_line_item.html' %}
{% endfor %}
</table>
{% else %}
None
{% endif %}
</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{ object.version }}</td>
      </tr>
      <tr>
        <th>Agency campaign ref no</th>
        <td>{{ object.agencyCampaignReferenceNo }}</td>
      </tr>
      <tr>
        <th>Campaign Name</th>
        <td>{{ object.campaignName }}</td>
      </tr>
      <tr>
        <th>Vendor Name</th>
        <td>{{ object.vendorName }}</td>
      </tr>
      <tr>
        <th>Client Name</th>
        <td>{{ object.clientName }}</td>
      </tr>
    </table>
{% endblock %}
