{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Seller - Proposals - Create Proposal (raw payload version){% endblock %}

{% block content %}
    <h3>Create Proposal</h3>

    <form action="{% url 'seller_rfps_proposals_create_raw' rfp_id=rfp_id %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
