{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Seller - Products - Update Product{% endblock %}

{% block content %}
    <h3>Update Product</h3>

    <form action="{% url 'seller_metadata_products_update' product_id=product_id %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal'%}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
