{% extends "base.html" %}
{% block title %}Seller - RFPs - List Proposals for RFP {{ rfp_id }}{% endblock %}

{% block content %}
    <table class="table">
        {% for proposal in object_list %}
        <tr>
            <th>Proposal Public ID</th>
            <td>{{ proposal.proposalPublicId }}</td>
        </tr>
        <tr>
            <th>Proposal external ID</th>
            <td>{{ proposal.proposalExternalId }}</td>
        </tr>
        <tr>
            <th>Proposal Version</th>
            <td>{{ proposal.proposalVersion }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ proposal.status }}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{ proposal.comments }}</td>
        </tr>
        <tr>
            <th>Print line items</th>
            <td>
{% if proposal.printLineItems %}
    <table class="table">
    {% include 'components/print_line_item_header.html' %}
    {% for line in proposal.printLineItems %}
        {% include 'components/print_line_item.html' with line=line %}
    {% endfor %}
    </table>
{% else %}
None.
{% endif %}
</td>
        </tr>
        <tr>
            <th>Digital line items</th>
            <td>
{% if proposal.digitalLineItems %}
    <table class="table">
    {% include 'components/digital_line_item_header.html' %}
    {% for line in proposal.digitalLineItems %}
        {% include 'components/digital_line_item.html'  with line=line %}
    {% endfor %}
    </table>
{% else %}
None.
{% endif %}
</td>
        </tr>
        <tr>
            <th>Attachments</th>
            <td>{{ proposal.attachments }}</td>
        </tr>
        {% empty %}
            <tr><td colspan="20">No proposals for this RFP.</td></tr>
        {% endfor %}
    </table>
    <p><a class="btn btn-default" href="{% url 'seller_rfps_proposals_create_raw' rfp_id %}">Create a new proposal on this RFP</a></p>

{% endblock %}
