{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Seller - RFPs - View RFP Detail - {{ rfp_id }}{% endblock %}

{% block content %}
<h3>Campaign info</h3>
<table class="table">
<tr><th>Agency ID</th><td>{{ object.agencyId }}</td></tr>
<tr><th>Campaign ID</th><td>{{ object.campaignId }}</td></tr>
<tr><th>RFP ID</th><td>{{ object.id }}</td></tr>
<tr><th>RFP Status</th><td>{{ object.status}}</td></tr>
<tr><th>Start date</th><td>{{ object.startDate}}</td></tr>
<tr><th>End date</th><td>{{ object.endDate}}</td> </tr>
<tr><th>Response Due date</th><td>{{ object.responseDueDate}}</td> </tr>
<tr><th>Media</th><td>{% for media in object.media %}{{ media }}<br/>{% endfor %}</td></tr>
<tr><th>Publisher Recipient ID</th><td>{{ object.publisherRecipient.publisherPublicId }}</td></tr>
<tr><th>Publisher Recipient Emails</th><td>{% for email in object.publisherRecipient.emails %}{{ email }}<br/>{% endfor %}</td></tr>
<tr><th>Strategy</th><td>{{ object.strategy }}</td> </tr>
<tr><th>Budgets</th><td>{% for budget in object.budgets %}{{ budget }}<br/>{% endfor %}</td></tr>
<tr><th>Currency</th><td>{{ object.currencyCode }}</td> </tr>
<tr><th>Comments</th><td>{{ object.comments }}</td></tr>
<tr><th>Requested products</th><td>{{ objects.requestedProducts }}</td></tr>
<tr><th>Attachments</th><td>{% for attachment in object.attachments %}{{ attachment }}<br/>{% endfor %}</td></tr>
</table>
{% if object.status == "RESPONDED" %}
  <p><a class="btn btn-primary" href="{% url 'seller_rfps_proposals_list' rfp_id=rfp_id %}">View proposals on this RFP</a></p>
{% endif %}
<p><a class="btn btn-primary" href="{% url 'seller_rfps_proposals_create_raw' rfp_id=object.id %}">Send new proposal on this RFP</a></p>
{% endblock %}
