{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Seller - Orders - View Order Detail: {{ order_id}} version {{ version }}{% endblock %}

{% block content %}
    <a class="btn btn-default" href="{% url 'seller_orders_versions' order_id=order_id %}">View order history summary</a>

    <table class="table">
      <tr>
        <th>Status</th>
        <td>{{ object.status }}</td>
      </tr>
      <tr>
        <th>Order ID</th>
        <td>{{ object.orderId }}</td>
      </tr>
      <tr>
        <th>Comment History</th>
        <td>
<table class="table">
<tr>
<th>Timestamp</th>
<th>Version</th>
<th>Status</th>
<th>Full name</th>
<th>Email</th>
<th>Comment</th>
<th>Documents</th>
</tr>
{% for comment in object.commentHistory %}
<tr>
<td>{{ comment.timestamp }}</td>
<td>{{ comment.version }}</td>
<td>{{ comment.status }}</td>
<td>{{ comment.fullName }}</td>
<td>{{ comment.email }}</td>
<td>{{ comment.comment }}</td>
<td>{{ comment.documents }}</td>
</tr>
{% endfor %}
</table>
</td>
      </tr>
      <tr>
        <th>Agency Name</th>
        <td>{{ object.agencyName }}</td>
      </tr>
      <tr>
        <th>Terms and Conditions</th>
        <td>{{ object.termsAndConditions }}</td>
      </tr>
      <tr>
        <th>Campaign ID</th>
        <td>{{ object.campaignId }}</td>
      </tr>
      <tr>
        <th>Print line items</th>
        <td>
{% if object.printLineItems %}
<table class="table">
<tr>
<th>Line item ID</th>
<th>Line number</th>
<th>Package Type</th>
<th>Group name</th>
<th>Name</th>
<th>Publication</th>
<th>Section</th>
<th>Size</th>
<th>Buy Category</th>
<th>Print Position</th>
<th>Colour</th>
<th>Buy type</th>
<th>Cost method</th>
<th>Unit amount</th>
<th>Rate - amount</th>
<th>Rate - currency</th>
<th>Unit type</th>
<th>Cost - amount</th>
<th>Cost - currency</th>
<th>Region</th>
<th>Cover date</th>
<th>Comments</th>
<th>Custom columns</th>
</tr>
{% for line in object.printLineItems %}
<tr>
<td>{{ line.lineItemId }}</td>
<td>{{ line.lineNumber }}</td>
<td>{{ line.packageType }}</td>
<td>{{ line.groupName }}</td>
<td>{{ line.name }}</td>
<td>{{ line.publication }}</td>
<td>{{ line.section }}</td>
<td>{{ line.size }}</td>
<td>{{ line.buyCategory }}</td>
<td>{{ line.printPosition }}</td>
<td>{{ line.color }}</td>
<td>{{ line.buyType }}</td>
<td>{{ line.costMethod }}</td>
<td>{{ line.unitAmount }}</td>
<td>{{ line.rate.amount }}</td>
<td>{{ line.rate.currencyCode }}</td>
<td>{{ line.unitType }}</td>
<td>{{ line.cost.amount }}</td>
<td>{{ line.cost.currencyCode }}</td>
<td>{{ line.region }}</td>
<td>{{ line.coverDate }}</td>
<td>{{ line.comments }}</td>
<td>{{ line.customColumns }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</td>
      </tr>
      <tr>
        <th>Media type</th>
        <td>{{ object.mediaType }}</td>
      </tr>
      <tr>
        <th>Digital line items</th>
        <td>
<table class="table">
{% for line in object.digitalLineItems %}
<tr>
<th>Line item ID</th> <th>Line number</th> <th>Package type</th> <th>Primary placement</th> <th>Group name</th> <th>Name</th> <th>Cost Method</th> <th>Site</th> <th>Custom columns</th> <th>Dimensions</th> <th>Flight start</th> <th>Flight end</th> <th>Section</th> <th>Dimensions position</th> <th>Buy type</th> <th>Buy category</th> <th>Target</th> <th>Unit amount</th> <th>Unit type</th> <th>Rate</th> <th>Cost</th> <th>Comments</th> <th>Served by</th> <th>Creative type</th> <th>Market value</th>
</tr>
<tr>
<td>{{ line.lineItemId }}</td> <td>{{ line.lineNumber }}</td> <td>{{ line.packageType }}</td> <td>{{ line.primaryPlacement }}</td> <td>{{ line.groupName }}</td> <td>{{ line.name }}</td> <td>{{ line.costMethod }}</td> <td>{{ line.site }}</td> <td>{{ line.customColumns }}</td> <td>{{ line.dimensions }}</td> <td>{{ line.flightStart }}</td> <td>{{ line.flightEnd }}</td> <td>{{ line.section }}</td> <td>{{ line.dimensionsPosition }}</td> <td>{{ line.buyType }}</td> <td>{{ line.buyCategory }}</td> <td>{{ line.target }}</td> <td>{{ line.unitAmount }}</td> <td>{{ line.unitType }}</td> <td>{{ line.rate }}</td> <td>{{ line.cost }}</td> <td>{{ line.comments }}</td> <td>{{ line.servedBy }}</td> <td>{{ line.creativeType }}</td> <td>{{ line.marketValue }}</td>
</tr>
{% empty %}None
{% endfor %}
</table>
</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{ object.version }}</td>
      </tr>
      <tr>
        <th>Agency campaign ref no</th>
        <td>{{ object.agencyCampaignReferenceNo }}</td>
      </tr>
      <tr>
        <th>Campaign Name</th>
        <td>{{ object.campaignName }}</td>
      </tr>
      <tr>
        <th>Vendor Name</th>
        <td>{{ object.vendorName }}</td>
      </tr>
      <tr>
        <th>Client Name</th>
        <td>{{ object.clientName }}</td>
      </tr>
    </table>
{% endblock %}
