{% extends "base.html" %}
{% block title %}Seller - List Orders{% endblock %}

{% block content %}
    <form method="get" action="{% url 'seller_orders_list' %}">
    From date: <input type="date" name="start_date" value="{{start_date}}"/>
    To date: <input type="date" name="end_date" value="{{end_date}}"/>
    <input type="submit" value="Refresh list"/>
    </form>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Version</th>
            <th>Type</th>
            <th>Status</th>
            <th>Vendor ID</th>
            <th>Agency ID</th>
            <th>Client Name</th>
            <th>Campaign ID</th>
            <th>Action</th>
        </tr>
        {% for order in object_list %}
        <tr>
            <td><a href="{% url 'seller_orders_view' order_id=order.orderId version=order.version %}">{{ order.orderId }}</a></td>
            <td>{{ order.version }}</td>
            <td>{{ order.type }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.vendorId }}</td>
            <td>{{ order.agencyId }}</td>
            <td>{{ order.clientName }}</td>
            <td>{{ order.campaignId }}</td>
            <td>{% if order.type == "Order" and order.status == "New" %}
                    <a href="{% url 'seller_orders_respond' order_id=order.orderId version=order.version %}">Respond</a>
                {% elif order.type == "Order" and order.status == "Accepted" or order.type == "Order" and order.status == "Rejected" %}
                    <a href="{% url 'seller_orders_revise' order_id=order.orderId version=order.version %}">Revise</a>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
