{% extends "base.html" %}
{% block title %}Seller - RFPs - List RFPs{% endblock %}

{% block content %}
    <form method="get" action="{% url 'seller_rfps_list' %}">
    From date: <input type="date" name="start_date" value="{{start_date}}"/>
    To date: <input type="date" name="end_date" value="{{end_date}}"/>
    Status:
    <select name="status">
        {% for status_choice in status_choices %}
        <option {% if status == status_choice %}selected{% endif %}>{{ status_choice }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Refresh list"/>
    </form>
    <table class="table">
        <tr>
            <th>RFP ID</th>
            <th>Agency ID</th>
            <th>Media Type</th>
            <th>Status</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Response Due date</th>
            <th>Buyer Name</th>
            <th>Comments</th>
            <th>Campaign ID</th>
            <th>Strategy</th>
            <th>Actions</th>
        </tr>
        {% for rfp in object_list %}
        <tr>
            <td><a href="{% url 'seller_rfps_view' rfp_id=rfp.id %}">{{ rfp.id }}</a></td>
            <td>{{ rfp.agencyId }}</td>
            <td>{% for media in rfp.media %}{{ media }}<br />{% endfor %}</td>
            <td>{{ rfp.status }}</td>
            <td>{{ rfp.startDate }}</td>
            <td>{{ rfp.endDate }}</td>
            <td>{{ rfp.responseDueDate }}</td>
            <td>{{ rfp.buyerName }}</td>
            <td>{{ rfp.comments }}</td>
            <td>{{ rfp.campaignId }}</td>
            <td>{{ rfp.strategy }}</td>
            <td>
{% if rfp.status == "RESPONDED" %}
                <p><a class="btn btn-primary" href="{% url 'seller_rfps_proposals_list' rfp_id=rfp.id %}">Show proposals on this RFP</a></p>
{% endif %}
                <p><a class="btn btn-default" href="{% url 'seller_rfps_proposals_create_raw' rfp_id=rfp.id %}">Send new proposal on this RFP</a></p>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
