{% extends "base.html" %}
{% block pagetitle %}Seller - Metadata - {% endblock %}
{% block title %}Seller - Metadata{% endblock %}

{% block content %}
    <h3><a href="{% url 'seller_metadata_agencies' %}">Agencies</a></h3>
    <p>View the details of agencies. Note that the list can be very big so we limit the query if you don't provide any parameters.</p>
    <h3><a href="{% url 'seller_metadata_mediaproperties' %}">Media properties</a></h3>
    <p>View media property details of the currently selected publisher.</p>
    <h3><a href="{% url 'seller_metadata_products' %}">Products</a></h3>
    <p>View products of the currently selected publisher.</p>
{% endblock %}
{% block raw %}{% endblock %}
