{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Seller - Products - Update Media Property Fields{% endblock %}

{% block content %}
    <h3>Update Media Property Fields</h3>

    <form action="{% url 'seller_metadata_mediaproperties_update' media_property_id=media_property_id field_id=field_id %}" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal'%}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}
